/__pycache__
/services/__pycache__
/models/__pycache__
/sqlbackuptogoogledrive/tmp
/sqlbackuptogoogledrive/config.json
/client_secrets.json
/sqlbackuptogoogledrive/GoogleDriveCreds.txt
/SQLBackupToGoogleDrive.egg-info
*.pyc